{% extends "admin/change_form.html" %}

{% load i18n %}

{% block object-tools-items %}

    <li><a href="{% url "admin:form_entries" object_id %}">{% trans "View entries" %}</a></li>
    {% if original %}
        <li>
            <textarea id="embed_code" style="display:none;">
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.0.4/iframeResizer.min.js"></script>
                <iframe id="formembed{{ original.id }}" src="{{ request.scheme }}://{{ request.get_host }}{{ original.get_absolute_url }}embed/" style="width: 100%;"></iframe>
                <script>iFrameResize('#formembed{{ original.id }}')</script>
            </textarea>
            <a href="javascript:copyToClipboard('#embed_code');" class="historylink">{% trans "Copy embed code" %}</a>
            <script>
                function copyToClipboard(element) {
                    var temp = document.createElement("input");
                    document.body.appendChild(temp);
                    var el = document.querySelector(element);
                    temp.value = el.textContent;
                    temp.select();
                    document.execCommand("copy");
                    temp.remove();
                    return false;
                }
            </script>
        </li>
    {% endif %}
    {{ block.super }}

    <style>
        #fields-group .vTextField {
            width: 13.5em;
        }

        #fields-group .vIntegerField {
            width: 2em;
        }

        #fields-group .field-required,
        #fields-group .field-visible,
        #fields-group .delete {
            text-align: center;
        }

        form .aligned p.help {
            padding-left: 24px;
        }
    </style>

{% endblock %}
